always-auth=true
registry=https://npm.pkg.github.com/
_authToken=e9e256216e3d320b6475ed4abcb69e487f5985c4
@midas-soft:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=e9e256216e3d320b6475ed4abcb69e487f5985c4